<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/notes.css">
    <title>CSE Notes</title>
</head>
<body>
    {{>nav}}

    <header>
        <h1>CSIT Notes</h1>
    </header>
    <main>
        <section class="subject-list">
            <div class="subject">
                <h2>Operating System</h2>
                <a href="path_to_subject1_note.pdf" download>
                    <img src="/images/os.jpg" alt="Subject 1">
                </a>
            </div>
           <div class="subject">
                <h2>JAVA</h2>
                <a href="path_to_subject1_note.pdf" download>
                    <img src="/images/java.jpg" alt="Subject 1">
                </a>
            </div>
             <div class="subject">
                <h2>DBMS</h2>
                <a href="path_to_subject1_note.pdf" download>
                    <img src="/images/dbms.jpg" alt="Subject 1">
                </a>
            </div>
             <div class="subject">
                <h2>ATCD</h2>
                <a href="path_to_subject1_note.pdf" download>
                    <img src="/images/Atcd.jpg" alt="Subject 1">
                </a>
            </div>
             <div class="subject">
                <h2>Subject 1</h2>
                <a href="path_to_subject1_note.pdf" download>
                    <img src="/images/cse-mob.jpg" alt="Subject 1">
                </a>
            </div>
            <!-- Add more subjects as needed -->
        </section>
    </main>
    <div class="btn">
        <button class="CSBS"><a href="/aiml" >Download AIML Notes</a></button>
         <button class="CSBS"><a href="/csbs" >Download CSBS Notes</a></button>
         <button class="CSBS"><a href="/lab" >Download Lab Manuals</a></button>
    </div>
    <footer>
        <p>&copy; 2023 SDES</p>
    </footer>
</body>
</html>
