<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/reg.css">
    <title>Login - SDES College</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Welcome to CSE Department of SDES</h2>
            <h3>Login</h3>
            <form method="post" action="login">
                 <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
            <label for="regPassword">Password:</label>
            <input type="password" id="regPassword" name="regPassword" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
